
<!DOCTYPE html>
<html>
<head>
  <title>Sin Symfony</title>
</head>
<body>
        <script src="{{ asset('Bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('Bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('Bootstrap/js/npm.js') }}"></script>
        <script src="{{ asset('Bootstrap/js/jquery-2.1.3.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('Bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.min.css') }}">

   <div class=".col-xs-1"> probar     </div>
</body>
</html>